body {
    background: #352f5b;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li {
    background: #423a6f;
}

.delete {
    cursor: pointer;
}
.filtered{
    display: none !important;
    /* !improtant is overwriting any other style that class has, dosent matter which, in order to remove the element with that class
    (by remove i mean making it to diplay none, just disappear) */
}